.advantage-list {
  display: block;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    @include listGrid;
  }
}

.advantage-list__item {
  &:not(:first-child) {
    margin-top: 30px;
  }
}

.advantage-list__item {
  @media screen and (min-width: 768px) {
    @include itemGrid;
    flex-basis: calc((100% - 2 * var(--margin-cards)) / 2);
  }

  @media screen and (min-width: 1200px) {
    @include itemGrid;
    flex-basis: calc((100% - 4 * var(--margin-cards)) / 4);
  }
}

.section.advantage {
  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }
}

.advantage__subject {
  font-weight: bold;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--black-color);
  margin-bottom: 10px;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.advantage__desc {
  line-height: 1.71;
  color: var(--secondary-color);
}

.advantage__icon-thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background-color: var(--background-team);
  border-radius: 4px;
  height: 120px;
}
