.section.clients {
  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }
}

.clients-title {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.18;
  font-weight: bold;
  text-align: center;
  color: var(--black-color);

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
  }
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  @include listGrid();

  @media screen and (min-width: 1200px) {
    flex-wrap: unset;
  }
}

.clients-item {
  width: 170px;
  height: 92px;
  @include itemGrid();
  flex-basis: calc((100% - 2 * var(--margin-cards)) / 2);

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 3 * var(--margin-cards)) / 3);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 4 * var(--margin-cards)) / 4);
  }
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--socials-color);
  border-radius: 4px;
  background-color: var(--white-color);
  fill: var(--socials-color);
  transition-property: fill, border-color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic);

  &:hover,
  &:focus {
    border-color: var(--accent-color);
    fill: var(--accent-color);
    outline: none;
  }
}
