.clients-section {
  padding: 94px 0;

  @media screen and (min-width: 480px) and (max-width: 767px) {
    padding: 60px 0;
  }
}

.clients-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--black-color);

  @media screen and (max-width: 767px) {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 1.18;
  }
}

.clients-list {
  display: flex;
  align-items: center;
  margin-top: 50px;

  @media screen and (max-width: 767px) {
    flex-wrap: wrap;
    @include listGrid;
  }
}

.clients-item {
  width: 170px;
  height: 92px;

  &:not(:first-child) {
    margin-left: var(--margin-cards);
  }

  @media screen and (max-width: 767px) {
    @include itemGrid;
    flex-basis: calc((100% - 2 * var(--margin-cards)) / 2);
  }
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--socials-color);
  border-radius: 4px;
  background-color: var(--white-color);
  fill: var(--socials-color);
  transition-property: fill, border-color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic);

  &:hover,
  &:focus {
    border-color: var(--accent-color);
    fill: var(--accent-color);
    outline: none;
  }
}
