.hero {
  background-color: var(--background-footer);
  padding: 200px 0;
  text-align: center;

  & .container {
    max-width: 696px;
  }
}

.hero-overlay {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--gradient);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/background-hero/img1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 30px;
}

.hero-button {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  border: none;
  padding: 10px 32px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic);

  &:hover,
  &:focus {
    background-color: var(--hero-button-hover);
  }

  &:active {
    background-color: var(--white-color);
    color: var(--accent-color);
  }
}
