.hero {
  background-color: var(--background-footer);
  padding: 118px 0;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background: {
    image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/background-hero/mobile/header.jpg);
    size: cover;
    position: center;
    repeat: no-repeat;

    @media screen and (min-device-pixel-ratio: 2) and (min-width: 280px),
      screen and (min-resolution: 192dpi) and (min-width: 280px),
      screen and (min-resolution: 2dppx) and (min-width: 280px) {
      background-image: url(../images/background-hero/mobile/header@2x.jpg);
    }
  }

  @media screen and (min-width: 768px) {
    background-image: url(../images/background-hero/tablet/header.jpg);

    @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
      screen and (min-resolution: 192dpi) and (min-width: 768px),
      screen and (min-resolution: 2dppx) and (min-width: 768px) {
      .hero {
        background-image: url(../images/background-hero/tablet/header@2x.jpg);
      }
    }
  }

  @media screen and (min-width: 1200px) {
    padding: 200px 0;
    background-image: url(../images/background-hero/desktop/img1.jpg);

    @media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
      screen and (min-resolution: 192dpi) and (min-width: 1200px),
      screen and (min-resolution: 2dppx) and (min-width: 1200px) {
      .hero {
        background-image: url(../images/background-hero/desktop/img@2x.jpg);
      }
    }
  }
}

.hero-container {
  width: 100%;
  margin: 0 auto;

  @media screen and (min-width: 480px) {
    width: 360px;
  }

  @media screen and (min-width: 1200px) {
    width: 696px;
  }
}

.hero-title {
  margin-bottom: 40px;
  font-weight: 900;

  @include font(26px, 1.62, 0.06em);
  text-transform: uppercase;
  color: var(--white-color);

  @media screen and (min-width: 1200px) {
    @include font(44px, 1.36, 0.06em);
    margin-bottom: 30px;
  }
}

.hero-button {
  font-weight: bold;
  @include font();
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  border: none;
  padding: 10px 32px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic);

  &:hover,
  &:focus {
    background-color: var(--hero-button-hover);
  }

  &:active {
    background-color: var(--white-color);
    color: var(--accent-color);
  }
}
