.techskills {
  padding-bottom: 94px;
}

.techskills__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--black-color);
  margin-bottom: 50px;
}

.techskills__list {
  display: flex;
}

.techskills__list-item:not(:last-child) {
  margin-right: var(--margin-cards);
}

.techskills__item-position {
  position: relative;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.techskills__position-absolute {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 370px;
  padding: 27px 0;

  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-color);
  background-color: rgba(47, 48, 58, 0.8);
}
