.header {
  background-color: var(--white-color);
  border-bottom: 1px solid var(--header-border);
  padding: 16px 15px;

  @media screen and (min-width: 768px) {
    padding: unset;
  }
}

.container.header-container {
  justify-content: space-between;
  align-items: center;

  @media screen and (min-width: 768px) {
    justify-content: unset;
  }
}

.menu-list {
  display: none;
}

.contacts-list {
  display: none;
}

.site-nav__logo {
  font-family: var(--secondary-font);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);

  @media screen and (min-width: 768px) {
    padding-top: 26px;
    margin-right: 88px;
    padding-bottom: 26px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 24px;
    margin-right: 93px;
    padding-bottom: 24px;
  }
}

.site-nav__logo .color {
  color: var(--black-color);
}

.menu-list {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.contacts-list {
  @media screen and (min-width: 768px) {
    display: block;
    margin-left: auto;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
  }
}

.menu-list__item:not(:last-child) {
  @media screen and (min-width: 768px) {
    margin-right: 50px;
  }
}

.menu-list__link {
  font-weight: 500;
  font-size: inherit;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--black-color);
  position: relative;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic);

  &:focus,
  &:hover {
    color: var(--accent-color);
  }

  @media screen and (min-width: 768px) {
    padding: 32px 0;
  }
}

.contacts-list__item:not(:last-child) {
  @media screen and (min-width: 768px) {
    margin-bottom: 10px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: unset;
    margin-right: 30px;
  }
}

.contacts-list__link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
  fill: currentColor;
  // padding: 32px 0;
  display: flex;
  align-items: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic);

  &:hover,
  &:focus {
    color: var(--accent-color);
    fill: currentColor;
  }

  @media screen and (min-width: 1200px) {
    padding: 32px 0;
  }
}

.current {
  color: var(--accent-color);

  &::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
  }
}

.contacts-link__icon {
  @media screen and (min-width: 768px) {
    margin-right: 8px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 10px;
  }
}
