.header {
  background-color: var(--white-color);
  border-bottom: 1px solid var(--header-border);
}

.site-nav__logo {
  font-family: var(--secondary-font);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.menu-list__item:not(:last-child) {
  margin-right: 50px;
}

.contacts-list {
  margin-left: auto;
}

.contacts-list__item:not(:first-child) {
  margin-left: 50px;
}

.color {
  color: var(--black-color);
}

.menu-list__link {
  font-weight: 500;
  font-size: inherit;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--black-color);
  padding: 32px 0;
  position: relative;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic);

  &:focus,
  &:hover {
    color: var(--accent-color);
  }
}

.contacts-list__link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
  fill: currentColor;
  padding: 32px 0;
  display: flex;
  align-items: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic);

  &:hover,
  &:focus {
    color: var(--accent-color);
    fill: currentColor;
  }
}

.contacts-link__icon {
  margin-right: 10px;
}

.current {
  color: var(--accent-color);

  &::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
  }
}
