.portfolio-section {
  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }
}

// =======buttons=======

.portfolio-items-button {
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  margin-top: -15px;
  margin-left: 8px;

  @media screen and (min-width: 768px) {
    margin-bottom: 30px;
    justify-content: center;
    margin-top: unset;
    margin-left: unset;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}

.portfolio-button-item {
  margin-left: 8px;
  margin-top: 15px;

  @media screen and (min-width: 768px) {
    margin-top: unset;
  }
}

.portfolio-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: inherit;
  color: var(--black-color);
  background-color: var(--background-team);
  border-radius: 4px;
  cursor: pointer;
  border: none;
  padding: 6px 22px;
  transition-property: color, background-color, box-shadow, outline;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic);

  &:hover,
  &:focus {
    color: var(--white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

// ========end buttons========

// ========cards======

.portfolio-cards {
  display: block;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    @include listGrid();
  }
}

.portfolio-cards-item:not(:first-child) {
  margin-top: 30px;
}

.portfolio-cards-item {
  outline: 1px solid var(--color-line);

  @media screen and (min-width: 768px) {
    @include itemGrid();
    flex-basis: calc(100% / 2 - var(--margin-cards));
  }

  @media screen and (min-width: 1200px) {
    @include itemGrid();
    flex-basis: calc(100% / 3 - var(--margin-cards));
  }
}

.porfolio-cards-link {
  display: block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    outline: none;
  }
}

.container-cards-item {
  margin-right: 0;
  padding: 20px 24px;
}

.portfolio-cards-caption {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--black-color);
  margin-bottom: 4px;
}

.portfolio-cards-desc {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: inherit;
  color: var(--secondary-color);
}

.porfolio-cards-overlay {
  position: relative;
  overflow: hidden;
}

.overflow {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition-duration: 250ms;
  transition-timing-function: var(--cubic);
  overflow-y: auto;
  

  .porfolio-cards-link:hover &,
  .porfolio-cards-link:focus & {
    transform: translateY(0);
    background-color: rgba(33, 150, 243, 0.9);
  }

  & > p {
    padding: 77px 24px;
    font-size: 18px;
    line-height: 1.56;
    color: var(--white-color);
    height: 100%;
    
    @media screen and (min-width: 768px) {
      padding-top: 49px;
      padding-bottom: 49px;
    }

    @media screen and (min-width: 1200px) {
      padding-top: 63px;
      padding-bottom: 63px;
    }
  }
}
