.portfolio-section {
  padding: 94px 0;
}

.portfolio-items-button {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-button-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: inherit;
  color: var(--black-color);
  background-color: var(--background-team);
  border-radius: 4px;
  cursor: pointer;
  border: none;
  padding: 6px 22px;
  transition-property: color, background-color, box-shadow, outline;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic);

  &:hover,
  &:focus {
    color: var(--white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.portfolio-cards {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--margin-cards));
  margin-left: calc(-1 * var(--margin-cards));

  & > .portfolio-cards-item {
    margin-top: var(--margin-cards);
    margin-left: var(--margin-cards);
    flex-basis: calc(100% / 3 - var(--margin-cards));
    outline: 1px solid var(--color-line);
  }
}

.porfolio-cards-link {
  display: block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    outline: none;
  }
}

.container-cards-item {
  padding: 20px 24px;
}

.portfolio-cards-caption {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--black-color);
  margin-bottom: 4px;
}

.portfolio-cards-desc {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: inherit;
  color: var(--secondary-color);
}

.porfolio-cards-overlay {
  position: relative;
  overflow: hidden;
}

.overflow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition-duration: 250ms;
  transition-timing-function: var(--cubic);

  .porfolio-cards-link:hover &,
  .porfolio-cards-link:focus & {
    transform: translateY(0);
    background-color: rgba(33, 150, 243, 0.9);
  }

  & > p {
    padding: 63px 24px;
    font-size: 18px;
    line-height: 1.56;
    color: var(--white-color);
  }
}
