body {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0.03em;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
li,
h1,
h2,
h3,
h3,
h4,
p {
  padding: 0px;
  margin: 0px;
}
