  :root {
  --white-color: rgba(255, 255, 255, 1);
  --accent-color: rgba(33, 150, 243, 1);
  --background-footer: rgba(47, 48, 58, 1);
  --black-color: rgba(33, 33, 33, 1);
  --secondary-color: rgba(117, 117, 117, 1);
  --placeholder-color: rgba(117, 117, 117, 0.5);
  --background-team: rgba(245, 244, 250, 1);
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --adress-link-color: rgba(255, 255, 255, 0.6);
  --hero-button-hover: rgba(24, 140, 232, 1);
  --header-border: #ececec;
  --margin-cards: 30px;
  --color-line: rgba(238, 238, 238, 1);
  --gradient: rgba(47, 48, 58, 0.4);
  --socials-color: rgba(175, 177, 184, 1);
  --backg-footer-links: rgba(255, 255, 255, 0.1);
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --modal-backdrop: rgba(0, 0, 0, 0.2);
  --modal-button: #188ce8;
}
